<% include ../partials/top %>
	<style type="text/css">
		.container{
			margin: 100px auto;
			max-width: 400px;
		}
	</style>
</head>
<body>
	<div class='container'>
		<p>You are a host now. We will let you know when you have a visitor</p>
		<button onclick="location.href='/';" class="btn btn-primary btn-lg btn-block">Home</button>
	</div>
</body>
</html>