<% include ../partials/top %>
	<style type="text/css">
		.container{
			margin: 100px auto;
			max-width: 400px;
		}
	</style>
</head>
<body>
	<div class='container'>
		<p>Hello <%= visitor.name %>! Your host <%= host.name %> has been informed of your visit.</p>
		<p>check-in time - <%= visitor.checkInTime %></p>
		<% if(visitor.checkOutTime===''){ %>
		  <button onclick="location.href='/checkout';" class="btn btn-primary btn-lg btn-block">Check out</button>
		<%}else{%>
			<p>check-out time - <%= visitor.checkOutTime %></p>
		<%}%>
	</div>
</body>
</html>